[Unit]
Description=Password manager and secure wallet
BindsTo=xwayland-satellite.service
After=xwayland-satellite.service

[Service]
Environment=DISPLAY=:0
ExecStart=/opt/1Password/1password --silent %U
Restart=always
