[Unit]
Description=Password manager and secure wallet
BindsTo=graphical-session.target
After=graphical-session.target

[Service]
Environment=ELECTRON_OZONE_PLATFORM_HINT=auto
# TODO: make silent again once rich approval prompt works on wayland
# ExecStart=/opt/1Password/1password --silent %U
ExecStart=/opt/1Password/1password %U
Restart=always
