# chezmoi:template:left-delimiter="# {{"
# {{ if not .isServer -}}
[Unit]
Description=Password manager and secure wallet

[Service]
ExecStart=/opt/1Password/1password --silent %U
Restart=always

[Install]
WantedBy=default.target
# {{ end -}}
