[Unit]
Description=Xwayland outside your Wayland
PartOf=graphical-session.target
Requisite=graphical-session.target
After=graphical-session.target

[Service]
ExecStart={{ .chezmoi.homeDir }}/.cargo/bin/xwayland-satellite
Restart=always

[Install]
WantedBy=graphical-session.target
