#!/bin/bash
set -eo pipefail
# chezmoi:template:left-delimiter="# {{"

echo "Cloning git repos..."

for host in git@github.com git@github.zhaw.ch git@git.buenzli.dev
do
    # workaround for jj using libssh instead of openssh, should be fixed at some point
    ssh -o StrictHostKeyChecking=accept-new -T "$host" || true
done

repos=(
# {{- if not .isServer }}
# {{ .op.git_repos }}
# {{- end }}
)

for repo in "${repos[@]}"
do
    repo_name="$(basename "$repo")"

    if ! [ -d ~/repos/"$repo_name" ] ; then
        echo "Cloning $repo_name..."
        clone "$repo" ~/repos/"$repo_name"
    fi
done
