#!/bin/bash
set -eo pipefail

echo "Cloning git repos..."

GIT_SSH_COMMAND="ssh -o StrictHostKeyChecking=accept-new"
export GIT_SSH_COMMAND

repos=(
{{- if not .isServer }}
{{ .op.git_repos }}
{{- end }}
)

for repo in "${repos[@]}"
do
    repo_name="$(basename "$repo")"

    if ! [ -d ~/repos/"$repo_name" ] ; then
        echo "Cloning $repo_name..."
        git clone "$repo" ~/repos/"$repo_name"
    fi
done
