Host github
  User git
  HostName github.com

Host codeberg
  User git
  HostName codeberg.org

Host zhaw
  User git
  HostName github.zhaw.ch

Host buenzli
  User git
  HostName git.buenzli.dev

Host pi
  User remo
  HostName buenzli.ipv64.de
  ForwardAgent yes

Host desktop
  User remo
  HostName 192.168.1.104
  ForwardAgent yes
  ProxyCommand ssh pi -W %h:%p

# chezmoi:template:left-delimiter="# {{"
# {{- if eq .org "zhaw" }}

# zhaw

Host senk-srv
  User senk
  HostName senk-srv.zhaw.ch
  ForwardAgent yes

Host hpmm-gha
  User hpmm-gha
  HostName senk-srv.zhaw.ch
  ForwardAgent yes

Host senk-desktop
  User senk
  HostName senk-desktop.zhaw.ch
  ForwardAgent yes

Host hpmm-nas
  User ueli
  HostName srv-fs-t-101.zhaw.ch

Host gh-actions-runner
  User senk
  HostName srv-lab-t-581.zhaw.ch

Host savedge-ingest
  User senk
  HostName srv-lab-t-416.zhaw.ch
  ForwardAgent yes

# {{- end }}
