pane_frames false
ui {
    pane_frames {
        rounded_corners true
        hide_session_name true
    }
}
keybinds {
    normal {
        bind "Ctrl w" {
            ToggleFloatingPanes;
            SwitchToMode "Normal";
        }
        bind "Ctrl f" { TogglePaneFrames; }
    }
}
