# chezmoi:template:left-delimiter="# {{"
[advice]
	detachedHead = false
[branch]
	sort = -committerdate
[checkout]
	defaultRemote = origin
[clean]
	requireForce = false
[commit]
# {{- if not .isServer }}
	gpgsign = true
# {{- end }}
	verbose = true
[diff]
	algorith = histogram
	colorMoved = plain
	colorMovedWS = allow-indentation-change
	mnemonicPrefix = true
	renames = true
	submodule = log
	tool = difftastic
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[fetch]
	prune = true
	pruneTags = true
	all = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[gpg]
	format = ssh
[gpg "ssh"]
	program = /opt/1Password/op-ssh-sign
	allowedSignersFile = ~/.config/allowed_signers
[help]
	autocorrect = prompt
[init]
	defaultBranch = main
[pager]
	difftool = true
[merge]
	conflictStyle = zdiff3
[pull]
	rebase = true
	ff = only
[push]
	autoSetupRemote = true
	followTags = true
	recurseSubmodules = on-demand
[rebase]
	autoSquash = true
	autoStash = true
	rebaseMerges = true # == no-rebase-cousins
	updateRefs = true
[rerere]
	enabled = true
	autoupdate = true
[submodule]
	recurse = true
[tag]
	sort = version:refname
# This allows submodules to have https urls so anyone can easily download them.
# Users who only want to fetch with ssh can still do that with this config.
[url "ssh://git@"]
	pushInsteadOf = https://
[user]
	name = Remo Senekowitsch
	email = remo@buenzli.dev # default, overruled by domain-specific setting
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM2geN1p04/RFi6LPt8hoCvTfEKhR1RH6iuH9N9wKpD7

# domain-specific overrides, make sure to update jj config as well!
[includeif "gitdir:~/repos/zhaw/"]
	path = config.zhaw

[alias]
	st = status --short
	f = fetch
	l = "!f() { git log --oneline --graph "$@" || true ; }; f"
	g = "!f() { git log --oneline --graph --branches='*' --remotes='*' HEAD "$@" || true ; }; f"

	au = add --update
	aa = add --all
	ap = add --patch
	ai = add --interactive

	c = commit
	cm = "!f() { echo "$@" | git commit --file=- ; }; f"
	ca = commit --amend
	cane = commit --amend --no-edit
	cf = commit --fixup

	ch = checkout
	chb = checkout -b
	chd = checkout --detach

	p = push
	pf = push --force-with-lease
	pfa = push --force-with-lease --all # act like jj

	bd = branch --delete --force

	r = rebase
	ri = rebase --interactive
	rc = rebase --continue
	ra = rebase --abort

	m = merge
	mc = merge --continue
	ma = merge --abort

	crp = cherry-pick
	crpc = cherry-pick --continue
	crpa = cherry-pick --abort

	rs = reset
	rsh = reset --hard
	rslc = reset HEAD^

	dt = difftool
	dts = difftool --staged

	cge = config --global --edit
