theme = "kanagawa"

[editor]
scrolloff = 24
line-number = "relative"
bufferline = "multiple"

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "block"

[editor.file-picker]
hidden = false

[editor.soft-wrap]
enable = true

#### keybinds
#
# across all modes:
#
# Ctrl-s conflicts with custom zellij keybind for "scratchpad".
# Remap everything from Ctrl-s (save) to Ctrl-h (history).
# Ctrl-h technically has conflicts with vim-motion "h" (left).
# Left arrow is always an alternative I prefer anyway.
# Maybe update these if default helix keymap changes in future releases.

[keys.normal]
esc = ":update" # save on escape
C-h = "save_selection" # "save" -> "history"
j = "flip_selections" # "juxtapose"
# move through jumplist ("history")
h = "jump_backward"
H = "jump_forward"
# "kill" or "klose" buffer
k = ":buffer-close"
K = ":buffer-close-others"
# shift-arrows to traverse syntax-tree
S-left = "select_prev_sibling"
S-right = "select_next_sibling"
S-up = "expand_selection"
S-down = "shrink_selection"

[keys.select]
j = "flip_selections" # "juxtapose"

#### "save" -> "history"
[keys.normal.space.w] # window mode
C-h = "hsplit"
[keys.insert]
C-h = "commit_undo_checkpoint"
# remapping currently not supported, don't care anyway
# [keys.picker]
# C-h = "Open horizontally"
# [keys.prompt]
# C-h = "Insert word under doc cursor, ..."
