#!/bin/bash
set -eo pipefail

# {{ template "skipOnServer" . }}

echo "Installing vscodium extensions..."

extensions=(
    # general
    usernamehw.errorlens
    jeanp413.open-remote-ssh

    # rust
    rust-lang.rust-analyzer
    vadimcn.vscode-lldb

    # other languages
    timonwong.shellcheck
    thenuprojectcontributors.vscode-nushell-lang
    bmalehorn.vscode-fish
    esbenp.prettier-vscode

    # config & markup languages
    tamasfe.even-better-toml
    kokakiwi.vscode-just
)

mkdir -p ~/.vscode-oss/extensions

installed=$(ls ~/.vscode-oss/extensions/)
for extension in "${extensions[@]}"; do
    if ! [[ $installed =~ $extension ]] ; then
        echo "$extension..."
        codium --install-extension "$extension" > /dev/null
    fi
done
