#!/bin/bash
set -eo pipefail

# {{ template "skipOnServer" . }}

# change installed extensions simply by updating this array
# (extension-specific settings are at the bottom)
extensions=(
    "fix-focus-on-workspace-switch" "hiddn.github.com" "10"
    "hide-cursor" "elcste.com" "2"
    "just-perfection-desktop" "just-perfection" "28"
)

url_prefix="https://extensions.gnome.org/extension-data"
zip_postfix="shell-extension.zip"
extensions_dir="$HOME/.local/share/gnome-shell/extensions"

[ -d "$extensions_dir" ] || mkdir -p "$extensions_dir"

install_extension() {
    name=$1
    host=$2
    version=$3

    if [[ -n "$(fd "$name" "$extensions_dir")" ]] ; then
        return
    fi

    file_name="$name$host.v$version.$zip_postfix"

    echo "installing gnome extension $name..."
    wget -q "$url_prefix/$file_name"
    mkdir "$extensions_dir"/tmp
    unzip -q "$file_name" -d "$extensions_dir"/tmp
    uuid=$(grep uuid "$extensions_dir"/tmp/metadata.json | awk -F\" '{print $4}')
    mv "$extensions_dir"/tmp "$extensions_dir"/"$uuid"
    rm "$file_name"
}

num_extensions=$(( ${#extensions[@]} / 3 ))
enabled_extensions="["

# first fence post
   name="${extensions[0]}"
   host="${extensions[1]}"
version="${extensions[2]}"
install_extension "$name" "$host" "$version"
enabled_extensions+="'$name@$host'"

for i in $(seq 2 $num_extensions) ; do
       name="${extensions[$(( (i - 1) * 3 + 0 ))]}"
       host="${extensions[$(( (i - 1) * 3 + 1 ))]}"
    version="${extensions[$(( (i - 1) * 3 + 2 ))]}"

    install_extension "$name" "$host" "$version"
    enabled_extensions+=", '$name@$host'"
done

enabled_extensions+="]"

dconf write /org/gnome/shell/enabled-extensions "$enabled_extensions"

######## extensions settings ########

dconf write /org/gnome/shell/extensions/just-perfection/panel \
    false
dconf write /org/gnome/shell/extensions/just-perfection/panel-in-overview \
    true
dconf write /org/gnome/shell/extensions/just-perfection/window-maximized-on-create \
    true
dconf write /org/gnome/shell/extensions/just-perfection/show-apps-button \
    true
dconf write /org/gnome/shell/extensions/just-perfection/workspace \
    true
dconf write /org/gnome/shell/extensions/just-perfection/workspaces-in-app-grid \
    true
