#!/bin/bash
set -eo pipefail

# {{ template "skipOnServer" . }}

# see:
# https://fedoramagazine.org/use-fido-u2f-security-keys-with-fedora-linux/
# and maybe: (the above article is better at the time of writing)
# https://docs.fedoraproject.org/en-US/quick-docs/using-yubikeys/#_configure_desired_pam_modules

echo "Making sure authentication with yubikey is enabled..."

# u2f_keys must not be a symlink but a regular file
if ! [ -f ~/.config/Yubico/u2f_keys ] ; then
    mkdir -p ~/.config/Yubico
    echo "Please get your security key ready and press enter."
    read -r _
    echo "Now touch your security key (after PIN entry)."
    pamu2fcfg > ~/.config/Yubico/u2f_keys
fi

if ! authselect current | rg u2f > /dev/null ; then
    sudo authselect select sssd \
        with-silent-lastlog \
        with-mdns4 \
        with-fingerprint \
        with-pam-u2f > /dev/null
fi
