#!/bin/bash
set -euo pipefail
# chezmoi:template:left-delimiter="# {{"

services=(
# {{ if not .isServer }}
    1password.service
# {{ end }}
)

for service in "${services[@]}"; do
    systemctl --user enable --now "$service"
done
