#!/bin/bash
set -eo pipefail

# {{ template "skipOnServer" . }}

font_path="$HOME/.local/share/fonts/roboto_mono"

if ! [ -d "$font_path" ]; then
    echo "Installing nerd fonts..."
    mkdir --parents "$font_path"
    wget --quiet "https://github.com/ryanoasis/nerd-fonts/releases/download/v2.1.0/RobotoMono.zip"
    unzip -q RobotoMono.zip -d "$font_path" &> /dev/null
    rm RobotoMono.zip
    fc-cache -f
fi
