layout {
	default_tab_template {
		pane size=1 borderless=true {
			plugin location="compact-bar"
		}
		children
	}
	tab {
		pane {
			command "bash"
			args "-c" "for tab in $(ls devel/zellij/tabs); do zellij action new-tab --layout devel/zellij/tabs/$tab ; done ; for tab in $(ls ~/.config/zellij/layouts/ide_tabs); do zellij action new-tab --layout ~/.config/zellij/layouts/ide_tabs/$tab ; done ; zellij action go-to-tab-name helix"
			close_on_exit true
		}
	}

	swap_floating_layout name="scratchpad" {
		floating_panes max_panes=1 {
			pane {
				x "10%"
				y "10%"
				width "80%"
				height "80%"
			}
		}
		floating_panes max_panes=2 {
			pane {
				x "10%"
				y "10%"
				width "40%"
				height "80%"
			}
			pane {
				x "50%"
				y "10%"
				width "40%"
				height "80%"
			}
		}
	}
}
