#!/bin/bash
set -eo pipefail

# {{ template "skipOnServer" . }}

echo "Installing GUI stuff..."

packages=(
    wl-clipboard
    alacritty
    f34-backgrounds-gnome
    openscad clang-tools-extra
    meld # merge tool for jj
    # yubikey
    pam-u2f pamu2fcfg
    # disable gnome-keyring-encryption
    seahorse
    # gtk dark theme for legacy apps, see configure/gsettings
    adw-gtk3-theme
    # TUI email client, needs 1Password CLI for auth
    aerc

    # niri
    niri
    mate-polkit # authentication agent
    fuzzel
    waybar
    wlsunset
    blueman # bluetooth GUI
    pavucontrol # audio GUI
    brightnessctl # laptop screen brightness
    adwaita-fonts-all # used by fuzzel_emoji.sh (maybe installed by default since F42?)
    xcb-util-cursor-devel # build-dep of xwayland-satellite
    wtype # simulate wayland input, used by fuzzel_emoji.sh
    nm-applet
)
installed="$(dnf list --installed)"
for package in "${packages[@]}"; do
    if ! [[ $installed =~ $package ]] ; then
        sudo dnf install -y "${packages[@]}"
        break
    fi
done
