#!/bin/bash
set -euo pipefail

# update once a week: {{ output "date" "+%Y-%V" | trim }}

echo "Making sure prebuilt binaries are installed..."

if ! which mise &> /dev/null ; then
    curl https://mise.run | sh
else
    mise self-update -y || true
fi

if ! which cargo-binstall &> /dev/null ; then
    echo "installing cargo-binstall..."
    curl -L --proto '=https' --tlsv1.2 -sSf \
        https://raw.githubusercontent.com/cargo-bins/cargo-binstall/main/install-from-binstall-release.sh \
        | bash
fi

packages=(
    cargo-binstall # self-update
    starship
    jj-cli
    ccase
    watchexec-cli
    choose
    sd
    eza
    xh
    usage-cli # used by mise
    codebook-lsp
)
cargo binstall --no-confirm --log-level warn "${packages[@]}"

# Not really needed, because I have many scripts in this location synced via
# chezmoi anyway. Doesn't hurt though.
[ -d "$HOME/.local/bin" ] || mkdir --parents "$HOME/.local/bin"
