#!/bin/bash
set -euo pipefail

# update once a week: {{ output "date" "+%Y-%V" | trim }}

# {{ template "skipOnServer" . }}

packages=(
    cargo-generate
    cargo-nextest
    # cargo-outdated (no binaries for ARM)
    kdlfmt
    openscad-lsp topiary-cli

    # I maed dis
    unlicense
)
cargo binstall --no-confirm --log-level warn "${packages[@]}"

if ! which deno &> /dev/null ; then
    export DENO_INSTALL=~/.local
    sh <(curl -fsSL https://deno.land/install.sh) --yes --no-modify-path
fi

# for niri
cargo install xwayland-satellite --locked --git https://github.com/Supreeeme/xwayland-satellite

uv tool install pyrefly
uv tool install tombi

# Zed editor
if ! which zed &> /dev/null ; then
    curl -f https://zed.dev/install.sh | sh
fi

# Don't forget to update the version in the desktop entry !
rr_version="2025.1.2"
if ! test -d "/opt/RustRover-$rr_version" ; then
    echo "Downloading and extracting RustRover..."
    curl -L "https://download.jetbrains.com/rustrover/RustRover-$rr_version.tar.gz" \
        | sudo tar xz --directory /opt
    echo "-Dawt.toolkit.name=WLToolkit" | sudo tee --append /opt/RustRover-$rr_version/bin/rustrover64.vmoptions > /dev/null
fi

if ! test -d "$HOME/.local/share/gh/extensions/gh-markdown-preview" ; then
    echo "Downloading and gh-markdown-preview..."
    # launch fish to make sure GH_TOKEN is loaded on fresh setup
    fish -c "gh extension install yusukebe/gh-markdown-preview"
fi
