#!/bin/bash
set -eo pipefail

# {{ template "skipOnServer" . }}

echo "Installing GUI stuff..."

packages=(
    wl-clipboard
    alacritty
    f34-backgrounds-gnome
    codium
    # yubikey
    pam-u2f pamu2fcfg
    # disable gnome-keyring-encryption
    seahorse
    # gtk dark theme for legacy apps, see configure/gsettings
    adw-gtk3-theme

    # hyprland
    hyprland
    polkit-gnome # authentication agent
    swaybg # wallpaper
    swayidle swaylock # lock screen on idle
    wofi # app launcher
    dunst # notification daemon
    grim slurp swappy # screenshots
    wlsunset # disabled in current config
    blueman # bluetooth GUI
)
installed="$(dnf list installed)"
for package in "${packages[@]}"; do
    if ! [[ $installed =~ $package ]] ; then
        sudo dnf install -y "${packages[@]}"
        break
    fi
done
