#!/bin/bash
set -euo pipefail

# update once a week: {{ output "date" "+%Y-%V" | trim }}

echo "Making sure prebuilt binaries are installed..."

if ! which cargo-binstall &> /dev/null ; then
    echo "installing cargo-binstall..."
    curl -L --proto '=https' --tlsv1.2 -sSf \
        https://raw.githubusercontent.com/cargo-bins/cargo-binstall/main/install-from-binstall-release.sh \
        | bash
fi

packages=(
    cargo-binstall # self-update
    starship
    atuin
    jj-cli
    ccase
    watchexec-cli
    choose
    sd
    eza
)
cargo binstall --no-confirm --log-level warn "${packages[@]}"

[ -d "$HOME/.local/bin" ] || mkdir -p "$HOME/.local/bin"

if ! which taplo &> /dev/null ; then
    curl -fsSL "https://github.com/tamasfe/taplo/releases/latest/download/taplo-full-linux-$(arch).gz" \
        | gzip -d - \
        | install -m 755 /dev/stdin ~/.local/bin/taplo
fi

# {{ template "skipOnServer" . }}

packages=(
    cargo-generate
    cargo-nextest
    # cargo-outdated (no binaries for ARM)
    typst-cli
    typstyle
    kdlfmt
    openscad-lsp

    # I maed dis
    unlicense
    ec2hx
)
cargo binstall --no-confirm --log-level warn "${packages[@]}"

if ! which deno &> /dev/null ; then
    export DENO_INSTALL=~/.local
    sh <(curl -fsSL https://deno.land/install.sh) --yes --no-modify-path
fi

# for niri
cargo install xwayland-satellite --locked --git https://github.com/Supreeeme/xwayland-satellite
