#!/bin/bash
set -eo pipefail

# {{ template "skipOnServer" . }}

sudo flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
sudo flatpak remote-modify --enable flathub
sudo flatpak remote-modify --disable fedora

packages=(
    org.chromium.Chromium
    org.signal.Signal
    com.prusa3d.PrusaSlicer
    com.belmoussaoui.Decoder
)
flatpak install --noninteractive flathub "${packages[@]}"

to_remove=(com.vscodium.codium)
flatpak uninstall --noninteractive "${to_remove[@]}" || true

flatpak override --user --socket=wayland md.obsidian.Obsidian
