#!/bin/bash
set -eo pipefail

# {{ template "skipOnServer" . }}

echo "Installing media codecs..."

sudo dnf swap ffmpeg-free ffmpeg --allowerasing -y
sudo dnf update @multimedia --setopt="install_weak_deps=False" --exclude=PackageKit-gstreamer-plugin -y

# https://docs.fedoraproject.org/en-US/quick-docs/openh264/
sudo dnf install -y gstreamer1-plugin-openh264 mozilla-openh264
