[user]
name = "Remo Senekowitsch"
email = "{{ .op.email }}"

[git]
push-bookmark-prefix = "remo/"

[ui]
default-command = ["log", "--template", "my_log_compact_comfortable"]
default-description = "\n"
diff-editor = ":builtin"
# diff.tool = ["difft", "--color=always", "--syntax-highlight", "off", "$left", "$right"]

[merge-tools.codium]
merge-args = ["--wait", "--merge", "$left", "$right", "$base", "$output"]
merge-tool-edits-conflict-markers = true

[aliases]
b  = ["bookmark"]
c  = ["commit"]
d  = ["describe"]
e  = ["edit"]
f  = ["git", "fetch", "--all-remotes"]
l  = ["log", "--template", "builtin_log_oneline", "--revisions", "ancestors(@)"]
ld = ["log", "--template", "builtin_log_detailed","--revisions", "ancestors(@)"]
g  = ["log", "--template", "builtin_log_oneline", "--revisions", "all()"]
gd = ["log", "--template", "builtin_log_detailed","--revisions", "all()"]
p  = ["git", "push"]
r  = ["rebase"]
s  = ["show"]

yolo = ["config", "set", "--repo", "revset-aliases.'immutable_heads()'", "root()"]
yolont = ["config", "unset", "--repo", "revset-aliases.'immutable_heads()'"]
drag = ["bookmark", "move", "--to", "@-"]
track-mine = ["bookmark", "track", "glob:remo/*@origin"]

# [scripts]
clone = ["util", "exec", "--", "{{ .chezmoi.homeDir }}/.config/jj/scripts/clone.nu"]
bgi   = [
  "util", "exec", "--",
  "cargo", "run", "--quiet",
  "--manifest-path", "{{ .chezmoi.homeDir }}/.config/jj/scripts/bgi/Cargo.toml",
  "--",
]
play  = ["bgi", "jj-play"]

[revsets]
log = "present(@) | ancestors(trunk()..mine(), 2) | trunk()"

[templates]
log = "builtin_log_comfortable"
op_log = 'builtin_op_log_comfortable'
log_node = "my_log_node"

# https://github.com/martinvonz/jj/blob/main/cli/src/config/templates.toml
[template-aliases]

'format_short_change_id(id)' = 'id.shortest(5)'

my_log_compact_comfortable = '''
if(root,
  format_root_commit(self),
  label(if(current_working_copy, "working_copy"),
    separate(" ",
      format_short_change_id_with_hidden_and_divergent_info(self),
      if(divergent, format_short_commit_id(commit_id)),
      if(conflict, label("conflict", "conflict")),
      if(author.email(),
        if(author.username().contains("dependabot"),
          author.username().substr(9, 19),
          author.username(),
        ),
        email_placeholder,
      ),
      bookmarks,
      tags,
      working_copies,
      if(empty, label("empty", "(empty)")),
      if(description,
        description.first_line(),
        label(if(empty, "empty"), description_placeholder),
      ),
    ),
  )
)
'''

# changes compared to default:
# - elided:    ':' instead of '~'
# - immutable: '•' instead of '◆' (diamond is off-center in Roboto Mono)
# - conflict:  '🗙' instead of '×'
my_log_node = '''
coalesce(
  if(!self, label("elided", ":")),
  label(
    separate(" ",
      if(current_working_copy, "working_copy"),
      if(immutable, "immutable"),
      if(conflict, "conflict"),
    ),
    coalesce(
      if(current_working_copy, "@"),
      if(immutable, "•"),
      if(conflict, "🗙"),
      "○",
    )
  )
)
'''
