file://{{ .chezmoi.homeDir }}/cloud/documents
file://{{ .chezmoi.homeDir }}/cloud/music
file://{{ .chezmoi.homeDir }}/cloud/pictures
file://{{ .chezmoi.homeDir }}/cloud/videos
file://{{ .chezmoi.homeDir }}/downloads
file://{{ .chezmoi.homeDir }}/repos
{{ if eq .org "zhaw" -}}
smb://160.85.184.97/staff/senk zhaw
sftp://baspo-zhawcollector1@fod.dataio.ch:22991/baspo-zhawcollector1 fitonduty
{{ end -}}
