// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Overview

// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.
spawn-at-startup "/usr/libexec/polkit-mate-authentication-agent-1" // package: mate-polkit
spawn-at-startup "swaybg" "--mode=fill" "--image=/usr/share/backgrounds/f34/default/f34.png"
spawn-at-startup "swayidle" "-w" // config in swayidle/config
spawn-at-startup "wlsunset" "-S" "4:00" "-s" "20:00" "-T" "6500" "-t" "3500"
environment {
    DISPLAY ":0"
}

cursor {
    hide-when-typing
    hide-after-inactive-ms 5000 // 2 seconds
}

hotkey-overlay {
    skip-at-startup
}

// Input device configuration.
// Find the full list of options on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input
input {
    keyboard {
        xkb {
            // You can set rules, model, layout, variant and options.
            // For more information, see xkeyboard-config(7).

            // For example:
            // layout "us,ru"
            // options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"

            layout  "us"
            variant "de_se_fi" // see /usr/share/X11/xkb/symbols/us
        }
    }

    // Next sections include libinput settings.
    // Omitting settings disables them, or leaves them at their default values.
    touchpad {
        // off
        tap
        // dwt // disable when typing
        // dwtp // disable when trackpointing
        drag-lock
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
        // off
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // middle-emulation
    }

    // Uncomment this to make the mouse warp to the center of newly focused windows.
    warp-mouse-to-focus mode="center-xy"

    // Focus windows and outputs automatically when moving the mouse into them.
    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    focus-follows-mouse
}

// reitweg-desktop
output "GIGA-BYTE TECHNOLOGY CO., LTD. AORUS FO32U2P 24090B001780" {
    mode "3840x2160@120.000"
    scale 1.5
}

// ines-desktop
output "Dell Inc. DELL U2713H C6F0K52C07TL" {
    transform "90"
    position x=0 y=-570
}
output "Dell Inc. DELL U2722D 469S2P3" {
    focus-at-startup
}

// abtwil-desktop
output "Philips Consumer Electronics Company PHL 276E8V 0x00000CC2" {
    position x=0 y=0
}

// framework-13
output "BOE 0x095F Unknown" {
    transform "normal" // rotatable
}

// Settings that influence how windows are positioned and sized.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout
layout {
    // Set gaps around windows in logical pixels.
    gaps 0

    // You can change the default width of the new windows.
    default-column-width { proportion 0.5; }
    // If you leave the brackets empty, the windows themselves will decide their initial width.
    // default-column-width {}

    background-color "#00000000"

    // By default focus ring and border are rendered as a solid background rectangle
    // behind windows. That is, they will show up through semitransparent windows.
    // This is because windows using client-side decorations can have an arbitrary shape.
    //
    // If you don't like that, you should uncomment `prefer-no-csd` below.
    // Niri will draw focus ring and border *around* windows that agree to omit their
    // client-side decorations.
    //
    // Alternatively, you can override it with a window rule called
    // `draw-border-with-background`.

    // You can change how the focus ring looks.
    focus-ring {
        // Uncomment this line to disable the focus ring.
        off // focus-ring

        // How many logical pixels the ring extends out from the windows.
        width 6

        // Colors can be set in a variety of ways:
        // - CSS named colors: "red"
        // - RGB hex: "#rgb", "#rgba", "#rrggbb", "#rrggbbaa"
        // - CSS-like notation: "rgb(255, 127, 0)", rgba(), hsl() and a few others.

        // Color of the ring on the active monitor.
        active-color "#7fc8ff"

        // Color of the ring on inactive monitors.
        inactive-color "#00000000"

        // You can also use gradients. They take precedence over solid colors.
        // Gradients are rendered the same as CSS linear-gradient(angle, from, to).
        // The angle is the same as in linear-gradient, and is optional,
        // defaulting to 180 (top-to-bottom gradient).
        // You can use any CSS linear-gradient tool on the web to set these up.
        // Changing the color space is also supported, check the wiki for more info.
        //
        // active-gradient from="#80c8ff" to="#bbddff" angle=45
        active-gradient from="#ff6f00" to="#b600ff" angle=135
        // inactive-gradient from="#505050" to="#808080" angle=45
    }

    // You can also add a border. It's similar to the focus ring, but always visible.
    border {
        // The settings are the same as for the focus ring.
        // If you enable the border, you probably want to disable the focus ring.
        off

        width 3

        active-color "oklch(0.28 0.05 291.089)" // darkest tailwind purple with reduced chroma
        inactive-color "oklch(0.13 0.028 261.692)"
    }

    insert-hint {
        color "#ff8b32ff"
    }

    // Struts shrink the area occupied by windows, similarly to layer-shell panels.
    // You can think of them as a kind of outer gaps. They are set in logical pixels.
    // Left and right struts will cause the next window to the side to always be visible.
    // Top and bottom struts will simply add outer gaps in addition to the area occupied by
    // layer-shell panels and regular gaps.
    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

// Uncomment this line to ask the clients to omit their client-side decorations if possible.
// If the client will specifically ask for CSD, the request will be honored.
// Additionally, clients will be informed that they are tiled, removing some client-side rounded corners.
// This option will also fix border/focus ring drawing behind some semitransparent windows.
// After enabling or disabling this, you need to restart the apps for this to take effect.
prefer-no-csd

// You can change the path where screenshots are saved.
// A ~ at the front will be expanded to the home directory.
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/cloud/pictures/screenshots/screenshot_%Y-%m-%dT%H:%M:%S.png"

// You can also set this to null to disable saving screenshots to disk.
// screenshot-path null

// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules

/-window-rule { // rounded corners
    geometry-corner-radius 4
    clip-to-geometry true
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    match app-id=r#"1Password$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

binds {
    // Keys consist of modifiers separated by + signs, followed by an XKB key name
    // in the end. To find an XKB name for a particular key, you may use a program
    // like wev.
    //
    // "Mod" is a special modifier equal to Super when running on a TTY, and to Alt
    // when running as a winit window.
    //
    // Most actions that you can bind here can also be invoked programmatically with
    // `niri msg action do-something`.

    // custom:
    Mod+B { spawn "fish" "-c" "toggle_bloated_mode.sh"; }
    Mod+G { spawn "fish" "-c" "toggle_gui_mode.sh"; }
    Mod+L { spawn "loginctl" "lock-session"; }
    Mod+U allow-when-locked=true { spawn "systemctl" "suspend"; }
    Mod+Y { spawn "fish" "-c" "fuzzel_emoji.sh"; }
    Mod+N { spawn "fuzzel"; }
    Mod+E { spawn "alacritty" "--command" "zellij"; }
    Mod+Ctrl+E { spawn "alacritty"; } // in case zellij is acting up
    Mod+I { spawn "gtk-launch" "ide.desktop"; }
    Mod+O { spawn "fish" "-c" "rotate_monitor.sh"; }

    // shows a list of important hotkeys.
    Mod+Slash { show-hotkey-overlay; }

    // Example volume keys mappings for PipeWire & WirePlumber.
    // The allow-when-locked=true property makes them work even when the session is locked.
    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    Mod+Period           allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%+"; }
    Mod+Comma            allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
    Mod+H /* hush*/      allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }

    // screen brightness
    XF86MonBrightnessDown { spawn "brightnessctl" "--min-value=1" "set" "10%-"; }
    XF86MonBrightnessUp   { spawn "brightnessctl" "set" "+10%"; }

    Mod+Q { close-window; }

    Mod+R { focus-column-left; }
    Mod+S { focus-window-or-workspace-down; }
    Mod+F { focus-window-or-workspace-up; }
    Mod+T { focus-column-right; }

    Mod+Left  { consume-or-expel-window-left; }
    Mod+Down  { move-window-down-or-to-workspace-down; }
    Mod+Up    { move-window-up-or-to-workspace-up; }
    Mod+Right { consume-or-expel-window-right; }

    Mod+X             { focus-monitor-previous; }
    Mod+D             { focus-monitor-next; }

    Mod+Page_Up         { move-column-to-monitor-previous; }
    Mod+Page_Down       { move-column-to-monitor-next; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Shift+Ctrl+Left  { move-window-to-monitor-left; }
    // ...

    Mod+Ctrl+R { move-workspace-to-monitor-previous; }
    Mod+Ctrl+S { move-workspace-down; }
    Mod+Ctrl+F { move-workspace-up; }
    Mod+Ctrl+T { move-workspace-to-monitor-next; }

    // You can bind mouse wheel scroll ticks using the following syntax.
    // These binds will change direction based on the natural-scroll setting.
    //
    // To avoid scrolling through workspaces really fast, you can use
    // the cooldown-ms property. The bind will be rate-limited to this value.
    // You can set a cooldown on any bind, but it's most useful for the wheel.
    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    // Usually scrolling up and down with Shift in applications results in
    // horizontal scrolling; these binds replicate that.
    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    // Similarly, you can bind touchpad scroll "ticks".
    // Touchpad scrolling is continuous, so for these binds it is split into
    // discrete intervals.
    // These binds are also affected by touchpad's natural-scroll, so these
    // example binds are "inverted", since we have natural-scroll enabled for
    // touchpads by default.
    // Mod+TouchpadScrollDown { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02+"; }
    // Mod+TouchpadScrollUp   { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02-"; }

    Mod+0 { set-column-width "25%"; }
    Mod+1 { set-column-width "33.333%"; }
    Mod+2 { set-column-width "50%"; }
    Mod+3 { set-column-width "66.667%"; }
    Mod+4 { set-column-width "100%"; }
    // Mod+Period { switch-preset-window-height; }
    // Mod+Ctrl+R { reset-window-height; }
    Mod+W { fullscreen-window; }
    Mod+C { center-visible-columns; }

    // Move the focused window between the floating and the tiling layout.
    Mod+V      { toggle-window-floating; }
    Mod+Ctrl+V { switch-focus-between-floating-and-tiling; }

    Mod+P      { screenshot; }
    Mod+Ctrl+P { screenshot-window; }
    // TODO: screenshot with editor ?
// bind = $mainMod, P, exec, grim -g "$(slurp)" - | tee "$(xdg-user-dir PICTURES)/Screenshots/Screenshot from $(date "+%Y-%m-%d %H-%M-%S").png" | wl-copy
// bind = $mainMod CTRL, P, exec, grim -g "$(slurp)" - | swappy -f -

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Ctrl+Q      { quit; }
    Ctrl+Alt+Delete { quit; }
}
