{{ if not .isServer -}}
[Desktop Entry]
Name=1Password daemon
Exec=/opt/1Password/1password --silent %U
Terminal=false
Type=Application
Icon=1password
Comment=Password manager and secure wallet
{{ end -}}
